.container{
    margin-top: 250px;
    display: flex;
    flex-direction: row;
}

.form{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 15px;
    max-width: 800px;
    align-content: center;
}

label{
    padding: 15px;
}